@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

:root {
  --ff-primary: 'Inter';
  --fw-normal: 400;
  --fw-semibold: 700;
  --fw-bold: 800;
  --color-orange: hsl(35, 77%, 62%);
  --color-red: hsl(5, 85%, 63%);
  --color-neutral-100: hsl(36, 100%, 99%);
  --color-neutral-200: hsl(233, 8%, 79%);
  --color-neutral-300: hsl(236, 13%, 42%);
  --color-neutral-400: hsl(240, 100%, 5%);
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: var(--fw-normal);
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  color: var(--color-neutral-400);
  font-size: 3.5rem;
  font-weight: var(--fw-bold);
}

.container {
  margin: 4rem auto;
  width: 80%;
  max-width: 1110px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

nav {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  height: 100%;
  width: 100%;
  max-width: 65px;
}

.navbar__links {
  display: flex;
  list-style: none;
}

.navbar__link {
  font-size: 1.125rem;
}

.navbar__link:hover,
.navbar__link:focus {
  color: var(--color-orange);
}

.navbar__link + .navbar__link {
  margin-left: 2rem;
}

.navbar__link > a {
  color: var(--color-neutral-300);
}
.navbar__link > a:hover,
.navbar__link > a:focus {
  color: var(--color-red);
}

.hamburger {
  display: none;
}

@media screen and (max-width: 376px) {
  body {
    position: relative;
  }
  .container {
    width: 90%;
    margin-top: 2rem;
    /* overflow: hidden; */
  }

  .navbar {
    color: white;
    width: 290px;
    border: 2px solid pink;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }

  .hamburger {
    display: block;
  }
}

/* HERO */
.hero {
  display: grid;
  grid-template-areas:
    'Image Image Aside'
    'Content Content Aside';
  row-gap: 20px;
  column-gap: 20px;
}

.hero__content {
  grid-area: Content;
  display: flex;
}

.hero__img {
  grid-area: Image;
}

.hero__title {
  display: inline-block;
  line-height: 100%;
  padding-right: 30px;
}

.hero__sub_text {
  font-size: 14px;
  width: 100%;
  max-width: 350px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link__btn {
  font-size: 1rem;
  background-color: var(--color-red);
  color: var(--color-neutral-100);
  text-transform: uppercase;
  padding: 1em 2em;
  text-align: center;
  max-width: 150px;
  letter-spacing: 2px;
}

.link__btn:hover,
.link__btn:focus {
  background-color: var(--color-neutral-400);
}

/* HERO ASIDE */
.hero__aside {
  background-color: var(--color-neutral-400);
  color: var(--color-neutral-100);
  grid-area: Aside;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__aside h2 {
  color: var(--color-orange);
  font-size: 2rem;
}

.aside__title {
  display: inline-block;
  padding-bottom: 10px;
  cursor: pointer;
}

.aside__title:hover,
.aside__title:focus {
  color: var(--color-orange);
}

.aside__title + p {
  color: var(--color-neutral-200);
  font-size: 1rem;
}

.aside__article + .aside__article {
  border-top: 1px solid var(--color-neutral-200);
}

.aside__article {
  padding-block: 30px;
}

/* CARD */
.cards {
  height: 125px;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 335px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__wrapper {
  height: 100%;
  max-width: 205px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card span {
  color: var(--color-neutral-200);
  font-weight: var(--fw-semibold);
  font-size: 2rem;
  line-height: 1;
}

.card__img {
  height: 100%;
  width: 100%;
  max-width: 100px;
  max-height: 125px;
  object-fit: cover;
}

.card__title {
  font-weight: var(--fw-bold);
  font-size: 1rem;
  color: var(--color-neutral-400);
  cursor: pointer;
}

.card__title:hover,
.card__title:focus {
  color: var(--color-red);
}

.card__desc {
  font-size: 14px;
}
