@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Inter';
  --fw-normal: 400;
  --fw-semibold: 700;
  --fw-bold: 800;
  --color-orange: hsl(35, 77%, 62%);
  --color-red: hsl(5, 85%, 63%);
  --color-neutral-100: hsl(36, 100%, 99%);
  --color-neutral-200: hsl(233, 8%, 79%);
  --color-neutral-300: hsl(236, 13%, 42%);
  --color-neutral-400: hsl(240, 100%, 5%);
  --margin-sm: 30px;
  --margin-md: 60px;
  --margin-lg: 80px;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: var(--fw-normal);
  line-height: 1.7;
  color: var(--color-neutral-400);
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: var(--margin-sm) auto;
  overflow: hidden;
}

img {
  width: 100%;
}

.sr-only {
  display: none;
}

/* Navigation */

header {
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: var(--margin-lg);
}

.nav__logo {
  width: 65px;
  height: 45px;
}

nav {
  display: flex;
  position: relative;
}

.navbar__links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar__link {
  padding-left: 3em;
}

.navbar__link a {
  color: var(--color-neutral-300);
  text-decoration: none;
}

.navbar__link a:hover,
.navbar__link a:focus {
  color: var(--color-red);
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 35em) {
  header {
    margin-block-end: var(--margin-sm);
  }

  .nav__logo {
    width: 45px;
    height: 30px;
  }

  nav {
    height: 100vh;
    flex-direction: column;
    background: white;
    position: absolute;
    z-index: 0;
    inset: 0 0 0 30%;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  nav[data-visible='true'] {
    transform: translateX(0%);
  }

  .navbar__links {
    position: fixed;
    flex-direction: column;
    z-index: 1000;
  }

  .navbar__link {
    padding-inline-start: 2em;
    padding-block: 1em;
  }

  .navbar__link:first-of-type {
    padding-block-start: 10em;
  }

  .navbar__toggle {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url('assets/images/icon-menu.svg');
    background-repeat: no-repeat;
    width: 3rem;
    height: 2rem;
    background-position: center;
    top: 1;
    right: 2rem;
    border: none;
    cursor: pointer;
  }

  .mobile-nav-toggle[aria-expanded='true'] {
    background-color: transparent;
    background-image: url('assets/images/icon-menu-close.svg');
    background-repeat: no-repeat;
    right: 1.75rem;
  }
}

/* HERO */

.hero__container {
display: flex;
}

.hero {
  margin-block-end: var(--margin-lg);
}

.hero__img {
  background-image: url('assets/images/image-web-3-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 730px;
  height: 300px;
  margin-block-end: var(--margin-sm);
}

.hero__content {
  display: flex;
}

.hero__title {
  font-weight: var(--fw-bold);
  font-size: 3rem;
  margin-block-end: var(--margin-sm);
}

.hero__sub_text p {
  line-height: 1.5;
  width: 50%;
}

.link-btn {
  color: var(--color-neutral-100);
  font-weight: var(--fw-semibold);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  background-color: var(--color-red);
  padding: 15px 30px;
  margin-top: var(--margin-sm);
}

.link-btn:hover,
.link-btn:focus {
    background-color:var(--color-neutral-400);
}

@media (max-width: 35em) {
  .hero__img {
    background-image: url('assets/images/image-web-3-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 730px;
    height: 300px;
  }

  .hero__content {
    flex-direction: column;
    width: 100%;
    max-width: 730px;
  }

  .hero__title {
    display: inline-block;
    font-size: 2.5rem;
    line-height: 1;
    font-weight: var(--fw-bold);
  }
}

/* ASIDE */
aside {
    width: 350px;
    color: var(--color-neutral-100);
    margin-block-end: var(--margin-md);
    padding: 1rem;
    background-color: var(--color-neutral-400);
  }

.aside__article {
  padding-block: 2em;
  border-top: 1px solid var(--color-neutral-100);
}

.aside__article:first-of-type {
  border-top: none;
}

.aside__title:hover,
.aside__title:focus {
    cursor: pointer;
    color: var(--color-orange);
}

@media (max-width: 35em) {
  aside {
    color: var(--color-neutral-100);
    margin-block-end: var(--margin-md);
    padding: 1rem;
    background-color: var(--color-neutral-400);
  }

  aside h2 {
    font-size: 2rem;
    line-height: 1;
    color: var(--color-orange);
  }

  .aside__title {
    font-size: 1.25rem;
  }
}

/* CARDS */
.cards {
  display: flex;
  justify-content: space-between;
}

.card {
    width: 340px;
    height: 130px;
    display: flex;
}

.card__img {
    width: 100px;
    height: 130px;
}

.card__content {
    padding-left: 20px;
}

.card__content span {
    color: var(--color-neutral-200);
    font-size: 2rem;
    font-weight: var(--fw-semibold);
}

.card__title {
    font-weight: var(--fw-bold);
}

.card__title:hover,
.card__title:focus {
    color: var(--color-red);
    cursor: pointer;
}



@media (max-width: 35em) {
    .cards {
        flex-direction: column;
        gap: var(--margin-sm);
      }
}
